

.time
{
	width: 200px;
	height: 200px;
	padding: 85px 110px;
	float: left;
	width: 25%;
	margin-left: 15%;
	margin-top: 50px;
	background-color: rgb(142, 208, 228);
	font-weight: 500;
}


#start
{
	margin: 50px 420px;
	background-color: rgb(124, 180, 157);
}


.container
{
	padding: 100px;
}


h1
{
	margin-left: 330px;
}






